$def with(commits, form, file_name, all_file_names)

<div class="g-bd3 f-cb">

    <div class="g-sd31">
      <h1 class="u-tt u-tt-xl">WIKIS</h1>
      <hr/>
      <ul class="m-list2 m-list2-rds">
      $for file_name_ in all_file_names:
        <li><a class="f-tud" href="/$file_name_" 
          $if file_name_ == file_name:
            style=" font-weight:bold;"
          >$file_name_</a></li>
      </ul>
    </div>
    <div class="g-sd32">
      <h1 class="u-tt u-tt-xl">REVISONS</h1>
      <hr/>
      <ul class="m-list2 m-list2-rds">
      $for commit in commits:
        <li><a title="$commit.message" class="f-tdu" href="/$file_name/$commit.hex">$datetime.fromtimestamp(commit.commit_time, LocalTimezone()).replace(tzinfo=None) BY $commit.author.name </a></li>
      </ul>
    </div>
    <div class="g-mn3">
      <div class="g-mn3c">
        <form action="/$file_name" method="post" class="m-form">
        $:form.render()
        </form>
      </div>
    </div>
</div>
<script type="text/javascript">
var _ = document.getElementById;
var addEvent = function(obj, type, func) {
  if(obj.addEventListener) {
    obj.addEventListener(type, func);
    return true;
  } else if(obj.attachEvent) {
    obj.attachEvent('on' + type, func);
    return true;
  } else {
    return false;
  }
};
var content = document.getElementById('content');
var submit = document.getElementById('update');
addEvent(content, 'click', function(){
  content.className = 'u-ipt';
  submit.className = 'u-btn u-btn-1 f-fr';
  window.clearTimeout(window.hiddenTimeoutId);
});

addEvent(content, 'blur', function(){
  window.hiddenTimeoutId = window.setTimeout(function(){
    content.className = 'u-ipt js-textarea';
    submit.className = 'u-btn u-btn-1 f-fr js-submit';
  }, 200);

});
</script>


